<div class="inner-content" *ngIf="!IsSaving" class="ion-padding" scrollY="false">
  <p class="title">
    <b>
      {{'askPayWay.howLikeToPay' | translate}}
    </b>
  </p>
  <p class="subtitle" (click)="addpaymentmethod()">{{'askPayWay.addPay' | translate}}</p>
  <br>
  <ion-grid class="ion-no-padding">
    <ion-row (click)="onSelect('1')" class="row ion-no-padding">
      <ion-col size="2">
        <ion-icon class="icon" name="card-outline"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <p class="text">{{'askPayWay.viaCard' | translate}}</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="chevron" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row (click)="onSelect('2')" class="row ion-no-padding">
      <ion-col size="2">
        <ion-icon class="icon" name="cash-outline"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <p class="text">{{'askPayWay.viaCash' | translate}}</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="chevron" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div class="inner-content" *ngIf="IsSaving" class="ion-padding" scrollY="false">
  <ion-spinner name="lines"></ion-spinner>
  <p class="savetitle">
    <b>
      {{'askPayWay.savingMethod' | translate}}
    </b>
  </p>
  <br>
</div>