.title {
    margin: 0;
    color: green;
    font-size: 17px;
}

.row {
    border: 3px solid green;
    color: green;
    outline: none;
    margin-bottom: 19px;
    border-radius: 7px;
}

.icon {
    font-size: 27px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 11px;
}

.text {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}

.chevron {
    font-size: 27px;
    text-align: right;
    margin-top: 11px;
    float: right;
    margin-right: 3px;
}

.savetitle {
    text-align: center;
    color: green;
    font-size: 19px;
}

ion-spinner {
    --color: green;
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
    margin-top: 21px;
    margin-top: 33px;
}

.subtitle {
    margin: 0;
    padding-top: 10px;
    color: green;
    font-weight: bold;
    outline: none;
}