.title {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 21px;
}

.row {
    // border: 3px solid #4ebe38;
    color: #4ebe38;
    outline: none;
    margin-bottom: 19px;
    border-radius: 7px;
}

.icon {
    font-size: 27px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 11px;
    color:grey;
}

.text {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    color: black;
}

.chevron {
    font-size: 27px;
    text-align: right;
    margin-top: 11px;
    float: right;
    margin-right: 3px;
}

.savetitle {
    text-align: center;
    color: black;
    font-size: 19px;
}

ion-spinner {
    --color: #4ebe38;
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
    margin-top: 21px;
    margin-top: 33px;
}

.subtitle {
    margin: 0;
    padding-top: 10px;
    color: #4ebe38;
    font-weight: bold;
    outline: none;
}