<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Journeys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-card>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="9">
          <p class="date">Friday, 20 November, 11:29</p>

        </ion-col>
        <ion-col size="3">
          <img src="../../assets/FijoTaxi_YellowCar.png" alt="">

        </ion-col>
      </ion-row>
    </ion-grid>

    <p class="title">Journey to Mom´s House</p>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p class="status">Cancelled</p>
        </ion-col>
        <ion-col size="6">
          <p class="detail">See Details</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="9">
          <p class="date">Friday, 15 November, 07:29</p>

        </ion-col>
        <ion-col size="3">
          <img src="../../assets/FijoTaxi_YellowCar.png" alt="">

        </ion-col>
      </ion-row>
    </ion-grid>

    <p class="title">Journey to Valencia Airport</p>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p class="status">Completed</p>
        </ion-col>
        <ion-col size="6">
          <p class="detail">See Details</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>