<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'reservationDetailPage.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-slides *ngIf="MyReservedBookings.length == 0">
    <ion-slide>
      <p>
        {{'reservationDetailPage.noFound' | translate}}
      </p>
    </ion-slide>
  </ion-slides>
  <div *ngIf="MyReservedBookings.length !== 0">
    <ion-card class="ion-no-margin" *ngFor="let item of MyReservedBookings" mode="ios">
      <ion-card-content>
        <div [class]="getStatusForButton(item.date+' , '+ item.time) !== 'Time Up'? 'datetime':'datetimered'">
          <ion-icon class="timeIcon" name="time-outline"></ion-icon> {{getStatusForButton(item.date+' , '+ item.time)}}
        </div>
        <p class="p">
          <b>{{'reservationDetailPage.Pickup' | translate}}</b>: {{item.origin}} <br>
          <b>{{'reservationDetailPage.Destination' | translate}}</b>: {{item.destination}}
        </p>
        <br>
        <ion-button (click)="cancelJourney(item.id, item.driverId)" fill="outline" expand="block"
          color="danger">
          Cancel Journey
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>