<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon class="back" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p class="title">Friday 20 Nov 2020</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8.5">
        <p class="subtitle">This journey was cancelled</p>
      </ion-col>
      <ion-col size="1.5">
        <ion-icon class="warn" name="warning"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="hr">
  <br>
  <img src="assets/dumymap.PNG" class="img" alt="">
  <ion-card class="card">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="9">
          <p class="textUnderCard">Pick Up Point</p>
          <p class="textUnderCard">Nisar Colony Faisalabad</p>
        </ion-col>
        <ion-col size="2">
          <p class="time">11:29</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col size="9">
          <p class="textUnderCard">Pick Up Point</p>
          <p class="textUnderCard">Nisar Colony Faisalabad</p>
        </ion-col>
        <ion-col size="2">
          <p class="time">11:29</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2.5">
          <img class="incardimg" src="assets/profile.png" alt="">
        </ion-col>
        <ion-col size="8.5">
          <p class="name">Khubaib Rasheed</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="footerText">This journey has no cost</p>
    <br>
  </ion-card>
</ion-content>
