<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon (click)="back()" class="back" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p class="title">{{journeyObject.createdAt | date:'fullDate'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8.5">
        <p class="subtitle_cancelled" *ngIf="journeyObject.status == 'cancelled'">This journey was cancelled</p>
        <p class="subtitle_completed" *ngIf="journeyObject.status == 'completed'">This journey was completed</p>
      </ion-col>
      <ion-col size="1.5">
        <ion-icon class="warn" *ngIf="journeyObject.status == 'cancelled'" name="warning"></ion-icon>
        <ion-icon class="checked" *ngIf="journeyObject.status == 'completed'" name="checkmark-done-circle-outline">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="hr">
  <br>
  <img *ngIf="journeyObject.screenShot" [src]="url+journeyObject.screenShot" class="img" alt="">
  <ion-card class="card">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <div class="circle"></div>
          <div class="afterCircle"></div>
        </ion-col>
        <ion-col size="11">
          <p class="textUnderCard">
            <ion-icon name="locate-outline"></ion-icon> <b> Pick Up Point</b>
          </p>
          <p class="textUnderCard">{{journeyObject.pickup}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <div class="circle"></div>
        </ion-col>
        <ion-col size="11">
          <p class="textUnderCard">
            <ion-icon name="navigate-outline"></ion-icon> <b> Destination</b>
          </p>
          <p class="textUnderCard">{{journeyObject.pickup}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2.5">
          <img class="incardimg" *ngIf="journeyObject.driver.driverPhoto" [src]="url+journeyObject.driver.driverPhoto"
            alt="">
          <img class="incardimg" *ngIf="!journeyObject.driver.driverPhoto" src="assets/profile.png" alt="">
        </ion-col>
        <ion-col size="8.5">
          <p class="name">{{journeyObject.driver.firstName}} {{journeyObject.driver.lastName}}</p>
          <p class="email">{{journeyObject.driver.email}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="footerText_cancelled" *ngIf="journeyObject.status == 'cancelled'">This journey has no cost</p>
    <p class="footerText_completed" *ngIf="journeyObject.status == 'completed'">The cost of this journey was
      {{journeyObject.exactPriceForPassenger}}&euro;</p>
    <br>
  </ion-card>
</ion-content>