agm-map {
    height: 100%;
    width: 100%;
}

.back {
    font-size: 30px;
    color: #4ebe38;
    font-weight: bold;
    outline: none;
}

.title {
    font-size: 21px;
    margin: 0;
    color: #4ebe38;
    font-weight: bold;
}

.subtitle_cancelled {
    margin: 0;
    color: red;
    font-weight: bold;
    padding-top: 5px;
}

.subtitle_completed {
    margin: 0;
    color: #4ebe38;
    font-weight: bold;
    padding-top: 5px;
}

.warn {
    color: red;
    font-size: 33px;
    margin: 0;
}

.checked {
    color: #4ebe38;
    font-size: 33px;
    margin: 0;
}

.hr {
    margin: auto;
    display: block;
    background: #4ebe38;
    height: 5px;
    width: 90%;
}

.img {
    margin: auto;
    display: block;
    object-fit: cover;
    height: 367px;
    overflow: hidden; 
    border-radius: 15px;
    border: 7px solid #4ebe38;
}

.card {
    border: 7px solid #4ebe38;
    border-radius: 15px;
    margin: auto;
    display: block;
    width: 90%;
    margin-top: 15px;

    p {
        margin: 0;
    }

    .textUnderCard {
        color: #4ebe38;

        ion-icon {
            position: relative;
            top: 3px;
        }
    }

    .time {

        color: #4ebe38;
        font-weight: bold;
        text-align: center;
        font-size: 11px;

    }

    .incardimg {
        height: 45px;
        width: 45px;
        object-fit: cover;
        margin: auto;
        display: block;
        border-radius: 100px;
    }

    .name {
        color: #4ebe38;
        font-weight: bold;
    }

    .email {
        color: #4ebe38;
    }

    .footerText_cancelled {
        padding-left: 21px;
        color: red;
        font-weight: bold;
    }

    .footerText_completed {
        padding-left: 21px;
        color: #4ebe38;
        font-weight: bold;
    }

    .circle {
        height: 13px;
        width: 13px;
        background: #4ebe38;
        border-radius: 9px;
        margin-top: 7px;
    }

    .afterCircle {
        height: 117%;
        background: #4ebe38;
        width: 5px;
        margin-left: 4px;
        margin-top: -1px;
    }
}