.img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 100px;
}

.subtitle {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 9px;
}

.title {
    font-size: 27px;
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.p1 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 27px;
}

.bottom_text {
    text-align: right;
    color: black;
}

.text {
    color: black;
}
.backbtn{
    font-size: 30px;
    color: black;
    margin-bottom: 21px;
}