agm-map {
  height: 100% !important;
  width: 100%;
}

.FooterCard {
  width: 90%;
  // background: rgb(36, 123, 37, 1);
  margin: auto;
  display: block;
  // border: 5px solid green;
  border-radius: 8px;
}

.FooterTitle {
  color: black;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}

.FooterTopTitle {
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 0px;
}

.FooterBottomTitle {
  color: #faae16;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}

.spinner {
  --color: green;
  height: 67px;
  width: 67px;
  margin: auto;
  display: block;
}

.bottomtext {
  color: grey;
  font-weight: bold;
  font-size: 18px;
}

.progress {
  margin-top: 15px;
  border-radius: 3px;
  height: 15px;
}

.logoImg {
  width: 100%;
  border-radius: 9px;
}

.driverImg {
  height: 67px;
  width: 67px;
  object-fit: cover;
  float: right;
  border-radius: 99px;
}

.smallCar {
  height: 27px;
}

.carDetails {
  color: black;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

.bottomIconAndText {
  text-align: center;
  outline: none;

  .ion-icon1 {
    width: 100%;
    font-size: 30px;
    color: #3880ff;
  }
  .ion-icon2 {
    width: 100%;
    font-size: 30px;
    color: #28ba62;
  }
  .ion-icon3 {
    width: 100%;
    font-size: 30px;
    color: #eb445a;
  }

  span {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
  }
}

.noimg {
  font-size: 50px;
  color: green;
  margin: auto;
  display: block;
  background: #006600;
  padding: 13px;
  border-radius: 50%;
}