<ion-content>
  <div style="width: 90%;height: 100%;" id="map-parent">
    <agm-map #agmmap [usePanning]="true" [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"
      [zoomControl]="false" [streetViewControl]="false">
      <agm-direction *ngIf="Route_To_Passenger" (onResponse)="onResponse($event)"
        [renderOptions]="toOrigin.renderOptions" [markerOptions]="toOriginMarker" [origin]="toOrigin.origin"
        [destination]="toOrigin.destination">
      </agm-direction>
      <agm-direction *ngIf="Route_To_Destination" (onResponse)="onResponse($event)"
        [renderOptions]="toDestination.renderOptions" [markerOptions]="markerOptions" [origin]="toDestination.origin"
        [destination]="toDestination.destination">
      </agm-direction>
      <agm-marker *ngIf="DriverFound" [latitude]="driverLat" [longitude]="driverLng" [iconUrl]="driverMarker">
      </agm-marker>
    </agm-map>
  </div>
</ion-content>
<ion-footer *ngIf="!DriverFound" class="ion-no-border" style="background: transparent;position: absolute;bottom: 30px;">
  <ion-card *ngIf="!isSearching" class="FooterCard">
    <ion-card-content>
      <ion-grid *ngIf="!isSearching" class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="9">
            <p class="FooterTitle">
              {{'trackingPage.confirming' | translate}}
            </p>
          </ion-col>
          <ion-col size="3">
            <img src="assets/logo.png" class="logoImg" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <p class="bottomtext">{{'trackingPage.preparingRide' | translate}}</p>
      <ion-progress-bar class="progress" color="primary" value="0.5"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isSearching" class="FooterCard">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="9">
            <p class="FooterTitle">{{'trackingPage.searching' | translate}}</p>
          </ion-col>
          <ion-col size="3">
            <ion-spinner class="spinner"></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <p class="bottomtext">{{'trackingPage.findingDrivers' | translate}}</p>
      <ion-progress-bar class="progress" color="primary" value="0.9"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-footer>
<ion-footer *ngIf="DriverFound" class="ion-no-border" style="background: transparent;position: absolute;bottom: 30px;">
  <ion-card class="FooterCard">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="9">
            <p class="FooterTopTitle">{{DriverDetail.driverObj.firstName | titlecase}}
              {{DriverDetail.driverObj.lastName | titlecase}}
              <span *ngIf="DriverRating() !== 0">
                <ion-icon [name]="DriverRating() > 1.0 ? 'star':'star-outline'"></ion-icon>
                <ion-icon [name]="DriverRating() > 2.0 ? 'star':'star-outline'"></ion-icon>
                <ion-icon [name]="DriverRating() > 3.0 ? 'star':'star-outline'"></ion-icon>
                <ion-icon [name]="DriverRating() > 4.0 ? 'star':'star-outline'"></ion-icon>
                <ion-icon [name]="DriverRating() > 4.5 ? 'star':'star-outline'"></ion-icon>
              </span>
            </p>
            <br>
            <div *ngIf="waitToGetRoute">
              <ion-icon class="speedicon" name="speedometer-outline"></ion-icon>
              <countdown class="countdown" [config]="getConfig"></countdown>
            </div>
          </ion-col>
          <ion-col size="3">
            <ion-icon *ngIf="!DriverDetail.driverObj.driverPhoto" class="noimg" name="person"></ion-icon>
            <img *ngIf="DriverDetail.driverObj.driverPhoto" [src]="url+DriverDetail.driverObj.driverPhoto"
              class="driverImg" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="3">
            <img src="assets/FijoTaxi_YellowCar.png" class="smallCar" alt="">
          </ion-col>
          <ion-col size="9">
            <p class="carDetails">
              {{DriverDetail.vehicleObj.brand}} {{DriverDetail.vehicleObj.vehicleNoPlate}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div (click)="openChat()" class="bottomIconAndText">
              <ion-badge *ngIf="newMesssage" color="transparent" slot="end">
                <ion-icon name="ellipse"></ion-icon>
              </ion-badge>
              <ion-icon class="ion-icon1" name="chatbox-ellipses"></ion-icon>
              <span>{{'trackingPage.contact' | translate}}</span>
            </div>
          </ion-col>
          <ion-col size="4">
            <div (click)="call()" class="bottomIconAndText">
              <ion-icon class="ion-icon2" name="call"></ion-icon>
              <span>{{'trackingPage.call' | translate}}</span>
            </div>
          </ion-col>
          <ion-col size="4">
            <div (click)="cancelConfirmModal()" class="bottomIconAndText">
              <ion-icon class="ion-icon3" name="close-circle"></ion-icon>
              <span>{{'trackingPage.cancel' | translate}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-footer>