<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'myFavDriverPage.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="drivers.length === 0" class="swiper-no-swiping" style="height: 100%;">
    <ion-slide>
      <p class="notfound">{{'myFavDriverPage.noFav' | translate}}</p>
    </ion-slide>
  </ion-slides>
  <div class="list">

    <ion-item *ngFor='let item of drivers' lines="full">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>
        <span style="color: green;">{{item.driver?.firstName}} {{item.driver?.lastName}}</span>
        <br>
        {{item.driver?.email}}
      </ion-label>
      <ion-icon name="call" color="primary" slot="end" (click)="call(item.driver?.phoneNumber)"></ion-icon>
    </ion-item>
  </div>
</ion-content>