<div class="inner-content" scrollY="false">
  <p class="title">Journey Cancelled</p>
  <p class="subtitle">Why did you cancel?</p>
  <ion-button expand="full" class="btn" (click)="cancel(1)">It's taking too long</ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(2)">I changed my mind</ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(3)">The driver requested me to cancel</ion-button>
  <ion-button expand="full" class="btn" (click)="cancel(4)">Mistake in my journey details</ion-button>
  <ion-button expand="full" class="btn" (click)="close()">Close</ion-button>
</div>