// ion-content {
//     --background: #4ebe38;
//     border: 5px solid yellow;
// }

.title {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 9px;
}

.subtitle {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 14px;
}

.btn {
    --color: #4ebe38;
    --background: white;
    --box-shadow: 0;
    font-weight: bold;
}