<ion-content class="ion-padding" scrollY="false">
  <p class="title">Journey Cancelled</p>
  <p class="subtitle">Why did you cancel?</p>
  <ion-button expand="full" class="btn">It's taking too long</ion-button>
  <ion-button expand="full" class="btn">I changed my mind</ion-button>
  <ion-button expand="full" class="btn">The driver requested me to cancel</ion-button>
  <ion-button expand="full" class="btn">Mistake in my jurney details</ion-button>
  <ion-button expand="full" class="btn">Close</ion-button>
</ion-content>