<ion-content>

  <div class="top">

    <ion-grid fixed>
      <p class="firsttext">
        {{'viaPhonePage.enterMobileNumber' | translate:params}}<br><span>({{'viaPhonePage.withCountryCode' | translate:params}})</span>
      </p>

      <ion-row>
        <ion-col size="3">
          <div class="icons">
            <img [src]="countryData.flag" *ngIf="countryData" alt="">
          </div>
        </ion-col>

        <ion-col size='9'>
          <ion-input class="input" type='number' class="ion-no-margin" [(ngModel)]="data.phoneNumber"
            (keyup)="getflag()" [placeholder]="'viaPhonePage.enterMobileNumber' | translate:params"></ion-input>
        </ion-col>
      </ion-row>
      <br>
      <div style="position:relative;z-index:10;width:100%;margin-right:auto;">
        <div id="recaptcha-container"></div>
      </div>

      <p class="sendcode">{{'viaPhonePage.verificationCode' | translate:params}}</p>
      <br><br>
      <p class="login" (click)="viaEmail()">{{'viaPhonePage.orLoginWithEmail' | translate:params}}</p>
    </ion-grid>
  </div>

  <div class="bottom">
    <ion-button (click)="next()">
      {{'viaPhonePage.next' | translate:params}}
    </ion-button>

    <p>{{'viaPhonePage.continueText' | translate:params}}
      <span>{{'viaPhonePage.privacy' | translate:params}}</span>
      {{'viaPhonePage.and' | translate:params}}
      <span>{{'viaPhonePage.terms' | translate:params}}</span></p>
  </div>
</ion-content>