<ion-content>

  <img class="logo" src="../../assets/logo.png" alt="">

  <ion-item class="input ion-no-padding">
    <ion-label color="primary" position="floating">{{'loginPage.email' | translate}}</ion-label>
    <ion-input [(ngModel)]="loginData.email" color="primary" type="email"></ion-input>
  </ion-item>

  <ion-item class="input ion-no-padding">
    <ion-label color="primary" position="floating">{{'loginPage.password' | translate}}</ion-label>
    <ion-input [(ngModel)]="loginData.password" color="primary" type="Password"></ion-input>
  </ion-item>

  <p class="forgot" routerLink="/forgot-password">{{'loginPage.forgotPassword' | translate}}</p>

  <ion-button expand="block" class="login" (click)="loginClick()">
    {{'loginPage.login' | translate}}
  </ion-button>

  <br>
  <div class="center">
    <div class="divider-line-x"><span>{{'loginPage.or' | translate}}</span></div>
  </div>

  <br>
  <ion-grid>
    <ion-row style="width: 93%; margin: auto;">
      <!-- <ion-col size="12" style="margin-bottom: 13px;">
        <button class="fb ion-activatable ripple-parent">
          <img src="assets/f.png" alt="">
          Facebook
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ion-col> -->
      <ion-col size="12" style="margin-bottom: 13px;">
        <div>
          <button (click)="googleLogin()" class="google ion-activatable ripple-parent">
            <img src="assets/gg.png" alt="">
            Google
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
      <ion-col size="12">
        <div>
          <button routerLink="/new-signup" class="signup ion-activatable ripple-parent">
            <img src="assets/mail.png" alt="">
            {{'loginPage.signupWithGoogle' | translate}}
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-footer class="ion-no-border" color='medium'>
  <ion-toolbar class="ion-no-border" color='medium'>
    <p>Signup</p>
  </ion-toolbar>
</ion-footer> -->