<ion-header>
  <ion-toolbar color="medium">
    <ion-icon slot="start" name="lock-closed-outline" class="lock"></ion-icon>
    <ion-title>
      {{'changePasswordModal.title' | translate:params}}
    </ion-title>
    <ion-icon slot="end" (click)="closeModal()" name="close"
      style="font-size: 25px; color: #006600; margin-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #006600">

  <br>
  <ion-item>
    <ion-label color="medium" position="floating">{{'changePasswordModal.currentPassword' | translate:params}}
    </ion-label>
    <ion-input [(ngModel)]="password.old" type='password' color="medium"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium" position="floating">{{'changePasswordModal.newPassword' | translate:params}}</ion-label>
    <ion-input [(ngModel)]="password.new" type='password' color="medium"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium" position="floating">{{'changePasswordModal.confirmPassword' | translate:params}}
    </ion-label>
    <ion-input [(ngModel)]="password.confirm" type='password' color="medium"></ion-input>
  </ion-item>
  <br>

  <ion-button color="medium" expand="block" (click)="onChangePasswordClick()">
    {{'changePasswordModal.changePassword' | translate:params}}
  </ion-button>
</ion-content>