.lock {
    font-size: 25px;
    position: relative;
    left: 4%;
}

ion-item {
    margin: 10px 8px;
    --background: transparent;
    color: #ffff00;
    border: 3px solid #ffff00;
}

ion-button {
    height: 40px;
    font-size: 18px;
}