<ion-header>
  <ion-toolbar color="medium">
    <ion-icon slot="start" name="lock-closed-outline" class="lock"></ion-icon>
    <ion-title>Change Password</ion-title>
    <ion-icon slot="end" name="close" style="font-size: 25px; color: #006600; margin-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #006600">

  <br>
  <ion-item>
    <ion-label color="medium" position="floating">Current Password</ion-label>
    <ion-input [(ngModel)]="password.old" type='password' color="medium"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium" position="floating">New Password</ion-label>
    <ion-input [(ngModel)]="password.new" type='password' color="medium"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium" position="floating">Confirm Password</ion-label>
    <ion-input [(ngModel)]="password.confirm" type='password' color="medium"></ion-input>
  </ion-item>
  <br>

  <ion-button color="medium" expand="block" (click)="onChangePasswordClick()">
    Change Password
  </ion-button>
</ion-content>