.lock {
    font-size: 25px;
    position: relative;
    left: 4%;
}

ion-item {
    margin: 10px 8px;
    --background: transparent;
    color: #4ebe38;
    border: 3px solid #4ebe38;
    border-radius: 9px;
}

ion-button {
    height: 40px;
    font-size: 18px;
    width: 95%;
    margin: auto;
    display: block;
}