<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" name="lock-closed-outline" class="lock"></ion-icon>
    <ion-title>
      {{'changePasswordModal.title' | translate}}
    </ion-title>
    <ion-icon slot="end" (click)="closeModal()" name="close"
      style="font-size: 25px; color: white; margin-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" position="floating">{{'changePasswordModal.currentPassword' | translate}}
    </ion-label>
    <ion-input [(ngModel)]="password.old" type='password' color="primary"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">{{'changePasswordModal.newPassword' | translate}}</ion-label>
    <ion-input [(ngModel)]="password.new" type='password' color="primary"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">{{'changePasswordModal.confirmPassword' | translate}}
    </ion-label>
    <ion-input [(ngModel)]="password.confirm" type='password' color="primary"></ion-input>
  </ion-item>
  <br>

  <ion-button color="primary" expand="block" (click)="onChangePasswordClick()">
    {{'changePasswordModal.changePassword' | translate}}
  </ion-button>
</ion-content>