// ion-content {
//     --background: green;
//     border: 5px solid yellow;
// }

ion-slides {
    height: 100%;

    ion-slide {
        ion-card {
            background: transparent;
            box-shadow: none;

            .title {
                color: green;
                font-size: 25px;
                font-weight: bold;
                margin: 0;
                padding-top: 15px;
            }

            .subtitle {
                color: green;
                margin: 0;
                font-size: 18px;
                padding-top: 15px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .okBtn {
                width: 100%;
                background: green;
                color: white;
                border-radius: 7px;
            }

            .leaveBtn {
                background: red;
                color: white;
                border-radius: 7px;
                width: 100%;
            }
        }
    }
}