<ion-content scrollY="false">
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-card>
        <p class="title">
          {{'sureToCancelModal.title' | translate}}
        </p>
        <p class="subtitle">{{'sureToCancelModal.text' | translate}}</p>
        <ion-grid class="ion-no-margin">
          <ion-row class="ion-no-margin">
            <ion-col size="6">
              <ion-button color="transparent" (click)="cancel()" class="okBtn">{{'sureToCancelModal.cancel' | translate}}</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="transparent" (click)="leave()" class="leaveBtn">{{'sureToCancelModal.leave' | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>