// ion-content {
//     --background: #4ebe38;
//     border: 5px solid #4ebe38;
// }

.icon {
    font-size: 51px;
    text-align: center;
    margin: auto;
    display: block;
    color: black;
    border-radius: 13px;
    background: yellow;
    padding: 11px;
    border: 3px solid black;
    margin-top: 7px;
}

.title {
    text-align: center;
    font-size: 17px;
    color: #4ebe38;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: grey;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
}

.continue {
    text-align: center;
    color: #4ebe38;
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

.hr {
    background: #4ebe38;
    height: 5px;
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 3px;
}

.cancel {
    text-align: center;
    color: red;
    font-size: 21px;
    font-weight: bold;  
    padding-top: 9px;
    padding-bottom: 9px;
    width: 90%;
    margin: auto;
    display: block;
}