<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <br><br>
    <br><br>
    <!-- <img src="../../assets/profile.png" alt=""> -->
    <ion-icon name="camera"></ion-icon>

    <p>Hi {{getName()}}!</p>
  </div>

  <div class="data">

    <ion-item class="input" lines='none'>
      <ion-label>First Name: </ion-label>
      <ion-input type='text'></ion-input>
    </ion-item>

    <ion-item class="input" lines='none'>
      <ion-label>Last Name: </ion-label>
      <ion-input type='text'></ion-input>
    </ion-item>


    <ion-item class="input" lines='none'>
      <ion-label>Phone: </ion-label>
      <ion-input type='number'></ion-input>
    </ion-item>


    <ion-item class="input" lines='none'>
      <ion-label>Email: </ion-label>
      <ion-input type='email'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-label>Recieve Promotion</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <br>
    <ion-button expand="full" fill="solid">
      Save Changes
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" shape="round">
      Edit Password
    </ion-button>

    <ion-icon name="power" class="logout"></ion-icon>
  </div>

</ion-content>