.bg {
    // --background: url(../../assets/bg.png) 0 0/100% 100% no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../assets/bg.png');
    height: auto;
    width: 100%;
    background-size: cover;
    text-align: center;

    img {
        height: 109px;
        margin: auto;
        width: 109px;
        display: block;
        // border: 5px solid green;
        border-radius: 50%;
    }

    ion-icon {
        margin: auto;
        display: block;
        font-size: 70px;
        background: rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 50%;
        color: green;
        outline: none;
    }

    .camera {
        font-size: 20px;
        padding: 8px;
        position: relative;
        left: 35px;
        bottom: 39px;
        color: #006600;
        background: white;
    }

    p {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        color: white;
        // padding-top: 15px;
        padding-bottom: 35px;
    }
}

.data {
    padding: 15px;

    .title {
        color: #006600;
        font-size: 20px;
        padding-left: 3%;
        font-weight: bold;
    }

    .input {
        padding: 10px;
        border: 2px solid #006600;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: right;
    }

    .save {
        height: 40px;
        font-size: 18px;
        --border-radius: 7px;
    }
}

.logout {
    font-size: 58px;
    margin: 20px auto;
    display: block;
    color: #006600;
    outline: none;
}