ion-slides {
    height: 100%;

    ion-slide {
        ion-card {
            box-shadow: none;
            outline: none;

            ion-icon {
                font-size: 100px;
                color: #006600;
            }

            p {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
}