<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">

      <ion-content>
        <ion-grid fixed class="top ion-no-padding">
          <ion-row>
            <ion-col size="4">
              <img src="../assets/profile.png" alt="">
            </ion-col>
            <ion-col size="8">
              <p class="name">{{getName()}}</p>
              <p class="email">{{getEmail()}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <hr>

        <ion-grid class="list ion-no-padding">
          <ion-row *ngFor='let item of navlist' (click)='route(item.route)'>
            <ion-col size="2.2">
              <ion-icon [name]="item.icon"></ion-icon>
            </ion-col>
            <ion-col size="9.8">
              <p>{{item.title}}</p>
            </ion-col>
          </ion-row>

          <hr>

          <ion-row (click)="logOut()">
            <ion-col size="2.2">
              <ion-icon name="exit"></ion-icon>
            </ion-col>
            <ion-col size="9.8">
              <p>Logout</p>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>