// ion-content {
// --background: url(../../assets/bg.png) 0 0/100% 100% no-repeat;
// --background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../assets/bg.png') repeat center center / cover;
// }
* {
    zoom: 99% !important;
}

.top {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../assets/bg.png') repeat center center / cover;

    ion-row {
        min-height: 150px;

        ion-col {
            img {
                width: 75px;
                height: 75px;
                margin: auto;
                display: block;
                border-radius: 100px;
                // border: 5px solid #4ebe38;
            }

            .name {
                color: white;
                font-size: 17px;
                margin: 0;
                font-weight: bold;
                padding-right: 5px;
            }

            .email {
                color: white;
                margin: 0;
                font-size: 12px;
                padding-right: 5px;
            }
        }
    }
}

hr {
    background: #4ebe38;
    height: 2px;
}

.list {
    ion-item {
        padding: 9px 5px;

        ion-icon {
            color: grey;
            font-size: 27px;
            padding-top: 3px;
        }

        ion-label {
            font-size: 18px;
            margin: 0;
            color: grey;
        }
    }
}