<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons (click)="backBtn()" disabled slot="start">
      <ion-back-button color="medium" icon="chevron-back-outline" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="medium">Add Payment Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="img" src="assets/addcard.png" alt="">
  <ion-item color="transparent" class="input ion-no-padding" lines='none'>
    <ion-label position="floating" color='medium'>Card Number:</ion-label>
    <ion-input [(ngModel)]='card.number' maxLength="16" type='tel'></ion-input>
  </ion-item>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="7.5" class="ion-no-margin ion-no-padding">
        <ion-item color="transparent" class="input ion-no-padding" lines='none'>
          <ion-label position="stacked" color='medium'>Expiry Date:</ion-label>
          <ion-datetime max="2035" min="2020" [(ngModel)]='date' displayFormat="YYYY MM"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="4.5" class="ion-no-margin ion-no-padding">
        <ion-item color="transparent" class="input ion-no-padding" lines='none'>
          <ion-label position="floating" color='medium'>CVC:</ion-label>
          <ion-input [(ngModel)]='card.cvc' maxLength="4" type='tel'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border footer">
  <p>Your payment information will be stored securely</p>
  <ion-button (click)="save()">
    SAVE
  </ion-button>
</ion-footer>