ion-content {
    --background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../assets/bg.png') repeat center center / cover;
}

.img {
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: contain;
}

.input {
    padding: 7px;
    padding-top: 0px;
    border: 5px solid yellow;
    margin: 5px;
    border-radius: 5px;
}

ion-label {
    font-size: 15px;
}

.input2 {
    padding: 0px;
    border: 5px solid yellow;
    margin: 0px;
    margin-top: 5px;
    padding-left: 9px;
    border-radius: 5px;
    width: 97%;
}

.input3 {
    padding-bottom: 9px;
    padding-top: 9px;
    border: 5px solid yellow;
    padding-left: 5px;
    border-radius: 5px;
    width: 94%;
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
}

.footer {
    background: #006600;

    p {
        font-size: 13px;
        text-align: center;
        color: yellow;
    }

    ion-button {

        width: 90%;
        margin: auto;
        display: block;
        margin-bottom: 27px;
        --background: yellow;
        color: green;
        font-weight: bold;
        --box-shadow: none;
    }
}

ion-input {
    color: yellow;
}

ion-datetime {
    color: yellow;
    padding: 0 !important;
}

.backBtn {
    padding-left: 15px;
    font-size: 25px;
    outline: none;
}