<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <p class="title">Journey is completed!</p>
        <p class="price">€17</p>
        <p class="text">Will be charged on your card.</p>
        <p class="text">Thank you for riding with FijoTaxi. See you soon!</p>
        <hr class="hr">
        <img class="img" src="assets/profile.png" alt="">
        <p class="text">Rate your driver</p>
        <p class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>