ion-content {
    --background: green;
    border: 5px solid yellow;
    text-align: center;
}

.title {
    color: yellow;
    font-size: 21px;
    font-weight: bold;
}

.price {
    font-size: 21px;
    color: yellow;
    font-weight: bold;
    margin: 0;
}

.text {
    color: white;
    font-size: 17px;
    margin: 15px;
}

.img {
    height: 75px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

.hr {
    background: yellow;
    margin: auto;
    display: block;
    width: 90%;
    height: 5px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.stars {
    margin: 0;
    color: yellow;
    font-size: 30px;
    ion-icon{
        padding-right: 4px;
        padding-left: 4px;
    }
}
ion-slides{
    height: 100%;
    ion-slide{
        ion-card{
            background: transparent;
            box-shadow: none;
        }
    }
}