<ion-content>
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-card>
        <p class="title">Journey is completed!</p>
        <p class="price">€ {{price}}</p>
        <p class="text">
          <span *ngIf="paymentVia == 'card'">Will be charged on your card</span>
          <span *ngIf="paymentVia == 'cash'">Please pay to your driver</span>
        </p>
        <p class="text">Thank you for riding with FijoTaxi. See you soon!</p>
        <hr class="hr">
        <img class="img" *ngIf="driverImg" [src]="url+driverImg" alt="">
        <img class="img" *ngIf="!driverImg" src="assets/profile.png" alt="">
        <p class="text">Rate {{driverName}}</p>
        <ion-item class="ion-no-padding" color="transparent" lines="none">
          <ion-label class="ion-text-nowrap" style="text-align: right;" color="medium">Add in your favourite drivers
          </ion-label>
          <ion-checkbox [(ngModel)]="favrouiteDriver" color="medium" slot="end"></ion-checkbox>
        </ion-item>
        <p class="stars">
          <ion-icon (click)="func('1')" [name]="condi1? 'star' : 'star-outline'"></ion-icon>&nbsp;
          <ion-icon (click)="func('2')" [name]="condi2? 'star' : 'star-outline'"></ion-icon>&nbsp;
          <ion-icon (click)="func('3')" [name]="condi3? 'star' : 'star-outline'"></ion-icon>&nbsp;
          <ion-icon (click)="func('4')" [name]="condi4? 'star' : 'star-outline'"></ion-icon>&nbsp;
          <ion-icon (click)="func('5')" [name]="condi5? 'star' : 'star-outline'"></ion-icon>
        </p>
        <ion-button expand="block" (click)="onSubmitClick()" color="medium">
          Submit
        </ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>