ion-content {
    // --background: #4ebe38;
    // border: 5px solid #4ebe38;
    text-align: center;
}

.title {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.price {
    font-size: 21px;
    color: #4ebe38;
    font-weight: bold;
    margin: 0;
    padding-bottom: 7px;
}

.text {
    color: #383838;
    font-size: 17px;
    margin: 15px;
    margin-top: 0;
}

.img {
    height: 75px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

.hr {
    background: #383838;
    margin: auto;
    display: block;
    width: 90%;
    height: 3px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.stars {
    margin: 0;
    color: gold;
    font-size: 30px;
    ion-icon{
        padding-right: 4px;
        padding-left: 4px;
    }
} 
ion-slides{
    height: 100%;
    ion-slide{
        ion-card{
            background: transparent;
            box-shadow: none;
        }
    }
}