<ion-content>
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-card>
        <p class="title">Journey is completed!</p>
        <p class="price">€{{price}}</p>
        <p class="text">
          <span *ngIf="paymentVia == 'card'">Will be charged on your card</span>
          <span *ngIf="paymentVia == 'cash'">Please pay to your driver</span>
        </p>
        <p class="text">Thank you for riding with FijoTaxi. See you soon!</p>
        <hr class="hr">
        <img class="img" *ngIf="driverImg" [src]="url+driverImg" alt="">
        <img class="img" *ngIf="!driverImg" src="assets/profile.png" alt="">
        <p class="text">Rate {{driverName}}</p>
        <ion-item class="ion-no-padding" color="transparent" lines="none">
          <ion-label class="ion-text-nowrap" style="text-align: right;" color="medium">Add in your favourite drivers
          </ion-label>
          <ion-checkbox color="medium" slot="end"></ion-checkbox>
        </ion-item>
        <p class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
        <ion-button color="medium">
          Submit
        </ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>