<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Terms And Condition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="Spanish" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Spanish">
      <ion-label>Spanish</ion-label>
    </ion-segment-button>
    <ion-segment-button value="English">
      <ion-label>English</ion-label>
    </ion-segment-button>
  </ion-segment>
  <pdf-viewer *ngIf="condition == 'Spanish'" [src]="pdfSrc" [fit-to-page]="true" [render-text]="true" style="display: block;"></pdf-viewer>
  <pdf-viewer *ngIf="condition == 'English'" [src]="pdfSrc2" [fit-to-page]="true" [render-text]="true" style="display: block;"></pdf-viewer>
</ion-content>