<ion-content>
  <ion-buttons class="backbutton">
    <ion-back-button class="back" mode='md' defaultHref=""></ion-back-button>
  </ion-buttons>

  <p class="title">{{'signUp.registerationFijoTaxi' | translate}}</p>

  <ion-slides (ionSlideDidChange)="slidechnge(slides)" #slides class="swiper-no-swiping" id="slides">
    <!-- slide one first name last name  -->
    <ion-slide *ngIf='slide1 === true'>
      <ion-grid fixed>
        <p class="needinfo">{{'signUp.needInfo' | translate}}</p>
        <p class="enterinputtext">{{'signUp.namePlz' | translate}}</p>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-item color='transparent ion-no-padding' class="input">
              <ion-label position="floating" color='light'>{{'signUp.firstName' | translate}}</ion-label>
              <ion-input [(ngModel)]="signupData.firstName" type="text" color="light"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-item color='transparent ion-no-padding' class="input">
              <ion-label position="floating" color='light'>{{'signUp.lastName' | translate}}</ion-label>
              <ion-input [(ngModel)]="signupData.lastName" type="text" color="light"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)='toSlide2()'>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 2 email  -->
    <ion-slide *ngIf='slide2 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">{{'signUp.emailPlz' | translate}}</p>
        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>Email</ion-label>
          <ion-input [(ngModel)]="signupData.email" type="email" color="light"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide3()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide1()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 3 phone  -->
    <ion-slide *ngIf='slide3 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">{{'signUp.phonePlz' | translate}}</p>

        <ion-row>
          <ion-col size="3">
            <div class="icons">
              <ion-grid>
                <ion-row *ngIf="countryData">

                  <!-- flag img -->
                  <ion-col size="8" style="padding: 0;">
                    <img [src]="countryData.flag" *ngIf="countryData" alt="">
                  </ion-col>

                  <!-- line in mobile -->
                  <ion-col size="4">
                    <div class="line"></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>

          <ion-col size='9'>
            <ion-input class="input" type="number" class="ion-no-margin" [(ngModel)]="signupData.phoneNumber"
              (keyup)="getflag()" placeholder="{{'signUp.enterMobile' | translate}}"
              style="color: white; text-align: left;"></ion-input>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide4()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide2()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 4 password  -->
    <ion-slide *ngIf='slide4 === true'>
      <ion-grid fixed>
        <p class="needinfo">{{'signUp.safeSecurely' | translate}}</p>
        <p class="enterinputtext">{{'signUp.enterPass' | translate}}</p>

        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>{{'signUp.password' | translate}}</ion-label>
          <ion-input [(ngModel)]="password.new" type="password" color="light"></ion-input>
        </ion-item>

        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>{{'signUp.confirmPassword' | translate}}</ion-label>
          <ion-input [(ngModel)]="password.confirm" type="password" color="light"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide5()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide3()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>


    <!-- slide 5 Gender  -->
    <ion-slide *ngIf='slide5 === true'>
      <ion-grid fixed>
        <p class="needinfo">{{'signUp.oneStepMore' | translate}}</p>
        <p class="enterinputtext">{{'signUp.selectGender' | translate}}</p>

        <ion-item class="input ion-no-padding">
          <ion-label>{{'signUp.gender' | translate}}</ion-label>
          <ion-select [(ngModel)]="signupData.gender" value="male" interface='action-sheet'>
            <ion-select-option value="male">{{'signUp.male' | translate}}</ion-select-option>
            <ion-select-option value="female">{{'signUp.female' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide6()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide4()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 6 End  -->
    <ion-slide *ngIf='slide6 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">{{'signUp.allDone' | translate}}</p>
        <p class="needinfo">{{'signUp.allDoneSuccessfully' | translate}}</p>

        <ion-button expand="block" class="register" (click)="onSignupClick()">
          {{'signUp.register' | translate}}
        </ion-button>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide5()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>
</ion-content>