<ion-content>
  <ion-buttons class="backbutton">
    <ion-back-button class="back" mode='md' defaultHref=""></ion-back-button>
  </ion-buttons>

  <p class="title">Registeration Fijo Taxi</p>

  <ion-slides (ionSlideDidChange)="slidechnge(slides)" #slides class="swiper-no-swiping" id="slides">
    <!-- slide one first name last name  -->
    <ion-slide *ngIf='slide1 === true'>
      <ion-grid fixed>
        <p class="needinfo">Need Some Information About you!</p>
        <p class="enterinputtext">Please Enter You Name</p>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-item color='transparent ion-no-padding' class="input">
              <ion-label position="floating" color='light'>First Name</ion-label>
              <ion-input [(ngModel)]="signupData.firstName" type="text" color="light"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-item color='transparent ion-no-padding' class="input">
              <ion-label position="floating" color='light'>Last Name</ion-label>
              <ion-input [(ngModel)]="signupData.lastName" type="text" color="light"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)='toSlide2()'>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 2 email  -->
    <ion-slide *ngIf='slide2 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">Please Enter You Email</p>
        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>Email</ion-label>
          <ion-input [(ngModel)]="signupData.email" type="email" color="light"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide3()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide1()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 3 phone  -->
    <ion-slide *ngIf='slide3 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">Please Enter You Phone Number</p>

        <ion-row>
          <ion-col size="3">
            <div class="icons">
              <ion-grid>
                <ion-row *ngIf="countryData">

                  <!-- flag img -->
                  <ion-col size="8" style="padding: 0;">
                    <img [src]="countryData.flag" *ngIf="countryData" alt="">
                  </ion-col>

                  <!-- line in mobile -->
                  <ion-col size="4">
                    <div class="line"></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          
          <ion-col size='9'>
            <ion-input class="input" type="number" class="ion-no-margin" [(ngModel)]="signupData.phoneNumber"
              (keyup)="getflag()" placeholder="Enter mobile" style="color: white; text-align: left;"></ion-input>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide4()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide2()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 4 password  -->
    <ion-slide *ngIf='slide4 === true'>
      <ion-grid fixed>
        <p class="needinfo">This is for your security</p>
        <p class="enterinputtext">Enter a Strong Password</p>

        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>Password</ion-label>
          <ion-input [(ngModel)]="password.new" type="password" color="light"></ion-input>
        </ion-item>

        <ion-item color='transparent' class="input ion-no-padding">
          <ion-label position="floating" color='light'>Confirm Password</ion-label>
          <ion-input [(ngModel)]="password.confirm" type="password" color="light"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide5()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide3()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>


    <!-- slide 5 Gender  -->
    <ion-slide *ngIf='slide5 === true'>
      <ion-grid fixed>
        <p class="needinfo">Just one step far!</p>
        <p class="enterinputtext">Select your Gender</p>

        <ion-item class="input ion-no-padding">
          <ion-label>Gender</ion-label>
          <ion-select [(ngModel)]="signupData.gender" value="male" interface='action-sheet'>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toSlide6()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide4()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <!-- slide 6 End  -->
    <ion-slide *ngIf='slide6 === true'>
      <ion-grid fixed>
        <p class="enterinputtext">All Done</p>
        <p class="needinfo">All your Information Collected Successfully</p>

        <ion-button expand="block" class="register" (click)="onSignupClick()">
          Register
        </ion-button>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="toSlide5()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>

  <!--   <ion-buttons class="backbutton">
    <ion-back-button class="back" mode='md' defaultHref=""></ion-back-button>
  </ion-buttons>

  <p class="title">Registeration Fijo Taxi</p>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-item color='transparent ion-no-padding' class="input">
          <ion-label position="floating" color='light'>First Name</ion-label>
          <ion-input [(ngModel)]="signupData.firstName" type="text" color="light"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-item color='transparent ion-no-padding' class="input">
          <ion-label position="floating" color='light'>Last Name</ion-label>
          <ion-input [(ngModel)]="signupData.lastName" type="text" color="light"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item color='transparent' class="input ion-no-padding">
    <ion-label position="floating" color='light'>Email</ion-label>
    <ion-input [(ngModel)]="signupData.email" type="email" color="light"></ion-input>
  </ion-item>

  <ion-item color='transparent' class="input ion-no-padding">
    <ion-label position="floating" color='light'>Phone</ion-label>
    <ion-input [(ngModel)]="signupData.phone" type="number" color="light"></ion-input>
  </ion-item>

  <ion-item color='transparent' class="input ion-no-padding">
    <ion-label position="floating" color='light'>Password</ion-label>
    <ion-input [(ngModel)]="signupData.password" type="password" color="light"></ion-input>
  </ion-item>

  <ion-item color='transparent' class="input ion-no-padding">
    <ion-label position="floating" color='light'>Confirm Password</ion-label>
    <ion-input type="password" color="light"></ion-input>
  </ion-item>

  <ion-item class="input ion-no-padding">
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="signupData.gender" value="male" interface='action-sheet'>
      <ion-select-option value="male">Male</ion-select-option>
      <ion-select-option value="female">Female</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="register" (click)="onSignupClick()">
    Register
  </ion-button> -->
</ion-content>