<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Methods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="PaymentMethodFound">
  <ion-card *ngFor="let item of savedcards" class="card" mode="ios">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <p class="title">
            <ion-icon name="card-outline" class="icon"></ion-icon> VISA Credit Card
          </p>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="trash-outline" (click)="deleteCard(item)" class="trash"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <p class="number">{{getBeautifyNumber(item.number)}}</p>
        </ion-col>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <p class="cvc">CVC: {{item.cvc}}</p>
        </ion-col>
        <ion-col size="6">
          <p class="exp">{{item.expMonth}}/{{item.expYear}}</p>
        </ion-col>
        <ion-col size="8">
          <p class="name">{{getMyName()}}</p>
        </ion-col>
        <ion-col size="4">
          <p class="brand">VISA</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-content *ngIf="!PaymentMethodFound">
  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-card class="card">
        <p>No Payment Method Saved yet!</p>
        <ion-button color="medium" routerLink="/add-payment-method">Add Payment Method</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="PaymentMethodFound" class="ion-no-border footer">
  <p>Your payment information will be stored securely</p>
  <ion-button routerLink="/add-payment-method">
    Add Another Payment Method
  </ion-button>
</ion-footer>