<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'profilePage.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <ion-icon *ngIf='!getMyImg()' name="person"></ion-icon>
          <img *ngIf='getMyImg()' [src]="url+getMyImg()" alt="">
        </ion-col>
        <ion-col size="9" style="align-self: center;">
          <p> {{'profilePage.hi' | translate}} {{getName()}}!</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="list">

    <ion-item lines="none" routerLink='/info'>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>
        {{'profilePage.myInfo' | translate}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink='/my-fav'>
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>
        {{'profilePage.myFav' | translate}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink='/my-preferences'>
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>
        {{'profilePage.myPreferences' | translate}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>