ion-content {
    --background: url('../../assets/bg.png') repeat center center / cover;
}

p {
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 45px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

ion-input {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    color: black;
    font-size: 18px;
    background: white;
    height: 55px;
    --placeholder-color: black;
    border-radius: 5px;
    text-align: center;
}


.bottom {
    position: absolute;
    width: 100%;
    bottom: 60px;

    p {
        color: #ffff00;
        outline: none;
    }

    ion-button {
        width: 90%;
        height: 50px;
        font-size: 30px;
        --background: #ffff00;
        margin: auto;
        display: block;
        color: #4ebe38;
        font-weight: bold;
    }
}