<ion-content>

  <p>{{'passwordPage.enterPassword' | translate}}</p>

  <ion-input class="input" [(ngModel)]='data.password' type="password" class="ion-no-margin"
    placeholder="{{'passwordPage.enterPassword' | translate}}">
  </ion-input>

  <p>{{'passwordPage.text' | translate}}</p>

  <div class="bottom">

    <p routerLink="/forgot-password">{{'passwordPage.forgotPassword' | translate}}</p>
    <br>
    <ion-button (click)='next()'>
      {{'passwordPage.next' | translate}}
    </ion-button>
  </div>
</ion-content>