<ion-content>
  <ion-buttons style="position: fixed;">
    <ion-back-button color="medium" class="back" defaultHref=""></ion-back-button>
  </ion-buttons>

  <div class="mainpart">

    <ion-icon *ngIf="Change_Pass_Word === false" name="lock-closed-outline"></ion-icon>
    <ion-icon *ngIf="Change_Pass_Word === true" name="lock-open-outline"></ion-icon>
    <p *ngIf="Change_Pass_Word === true">
      {{'forgotPasswordPage.changePassword' | translate}}
    </p>
    <p *ngIf="Change_Pass_Word === false">
      {{'forgotPasswordPage.forgotPassword' | translate}}
    </p>
  </div>
  <br>
  <div class="fadeIn" *ngIf="EmailMilgia === false">
    <ion-input type="email" [(ngModel)]="verifyEmail.email" class="ion-no-margin"
      placeholder="{{'forgotPasswordPage.enterEmail' | translate}}">
    </ion-input>
    <ion-button class="logbtn" (click)="EmailCheker()">
      {{'forgotPasswordPage.next' | translate}}
    </ion-button>

  </div>
  <div class="fadeIn" *ngIf="secreatCodeVerifeir === true">
    <ion-input type="text" [(ngModel)]="secreatCode.code" class="ion-no-margin" placeholder="{{'forgotPasswordPage.code' | translate}}">
    </ion-input>
    <ion-button class="logbtn" (click)="verifierCodeOfpass()">
      {{'forgotPasswordPage.next' | translate}}
    </ion-button>
  </div>
  <div class="fadeIn" *ngIf="Change_Pass_Word === true">
    <ion-input placeholder="{{'forgotPasswordPage.newPassword' | translate}}" type="password" (keyup)="changepasschecker()"
      [(ngModel)]="ChangePass.password">
    </ion-input>
    <br>
    <ion-input type="password" placeholder="{{'forgotPasswordPage.confirmPassword' | translate}}" (keyup)="changepasschecker()"
      [(ngModel)]="ChangePass.confPass"></ion-input>
    <br>
    <p *ngIf="pass_Matcher" class="passmatch">
      {{'forgotPasswordPage.passwordMatched' | translate}}
    </p>
    <ion-button class="logbtn" (click)="ChangePassword()">
      {{'forgotPasswordPage.btn' | translate}}
    </ion-button>
    <br>
  </div>
</ion-content>