ion-content {
    --background: url('../../assets/bg.png') repeat center center / cover;
}

.logo {
    height: 245px;
    margin: auto;
    display: block;
}

.mainpart {
    background-size: 100% 100%;
    height: 299px;
    margin-top: 50px;

    ion-icon {
        text-align: center;
        margin: auto;
        display: block;
        font-size: 100px;
        color: yellow;
        padding-top: 45px;
    }

    p {
        font-size: 20px;
        text-align: center;
        color: yellow;
        font-weight: bold;
        margin: 0;
        padding-top: 9px;
    }
}

ion-item {
    width: 83%;
    margin: auto;

    ion-label {
        color: yellow;
        font-size: 19px;
    }
}


ion-button {
    width: 90%;
    height: 50px;
    font-size: 30px;
    --background: #ffff00;
    margin: auto;
    display: block;
    color: #006600;
    font-weight: bold;
    margin-top: 13px;
}

.ico {
    font-size: 24px !important;
    margin-top: 10px !important;
    color: white !important;
    outline: none !important;
    background: rgba(0, 0, 0, 0.1);
    padding: 9px !important;
    border-radius: 9px !important;
    margin-left: 10px;
    position: absolute;
}

ion-input {
    border: 3px solid #ffff00;
    color: #ffff00;
    font-size: 20px;
    --placeholder-color: #ffff00;
    text-align: center;
    width: 90%;
    margin: auto;
    display: block; 
}
.passmatch{
    padding-left: 5%;
    color: #28e070;
    margin: 0;
    padding-bottom: 5px;
}