/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    // font-family: 'Anonymous Pro', monospace;
    font-family: 'Andika New Basic', sans-serif;
}

ion-label {
    font-family: 'Anonymous Pro', monospace !important;
}

ion-input {
    font-family: 'Anonymous Pro', monospace !important;
}

.askpayway {
    --height: auto;

    .modal-wrapper {
        width: 80%;
        max-width: 342px;
        display: block;
        margin: auto;
        background: #006600;
        box-shadow: none;
        border: 5px solid yellow;

        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                max-height: 80vh;
                overflow: auto;
                padding: 10px 0px;
            }
        }
    }
}


.ratingModal .modal-wrapper {
    height: 570px;
    width: 100%;
    max-width: 372px;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
}

.sureToCancelPaymentMethod .modal-wrapper {
    height: 235px;
    width: 90%;
    display: block;
    margin: auto;
}

.cancelconfirm {
    --height: auto;

    .modal-wrapper {
        width: 80%;
        max-width: 342px;
        display: block;
        margin: auto;
        background: #006600;
        box-shadow: none;
        border: 5px solid yellow;

        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                max-height: 80vh;
                overflow: auto;
                padding: 10px 0px;
            }
        }
    }
}

.cancelreason {
    --height: auto;

    .modal-wrapper {
        width: 85%;
        max-width: 342px;
        display: block;
        margin: auto;
        background: #006600;
        box-shadow: none;
        border: 5px solid yellow;

        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                max-height: 80vh;
                overflow: auto;
                padding: 10px 0px;
            }
        }
    }
}

.welcomeUser {
    --height: auto;

    .modal-wrapper {
        width: 85%;
        max-width: 342px;
        display: block;
        margin: auto;
        background: #006600;
        box-shadow: none;
        border: 5px solid yellow;

        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                max-height: 80vh;
                overflow: auto;
                padding: 10px 0px;
            }
        }
    }
}

// =====================

.call .modal-wrapper {
    height: 425px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.ac .modal-wrapper {
    height: 235px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.opendoor .modal-wrapper {
    height: 325px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.conversation .modal-wrapper {
    height: 235px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.changepassword .modal-wrapper {
    height: 390px;
    background: #006600;
    position: absolute;
    bottom: 10px;
    width: 95%;
}

// ================

.loading-class {
    --background: #006600;
    --spinner-color: #ffff00;

    color: #ffff00;
}

.alert-class {
    --background: #ffff00;
}
.tripStarted{
    .alert-message.sc-ion-alert-md{
        max-height: none !important;
    }
}