/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    font-family: 'Anonymous Pro', monospace;
}

ion-label {
    font-family: 'Anonymous Pro', monospace !important;
}

ion-input {
    font-family: 'Anonymous Pro', monospace !important;
}

.askpayway .modal-wrapper {
    height: 230px;
    width: 80%;
    max-width: 342px;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
}

.sureToCancelPaymentMethod .modal-wrapper {
    height: 215px;
    width: 90%;
    display: block;
    margin: auto;
}

.cancelconfirm .modal-wrapper {
    height: 330px;
    width: 80%;
    max-width: 342px;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
}

.cancelreason .modal-wrapper {
    height: 313px;
    width: 80%;
    max-width: 342px;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
}

.welcomeUser .modal-wrapper {
    height: 207px;
    width: 80%;
    max-width: 342px;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
}

// =====================

.call .modal-wrapper {
    height: 400px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.ac .modal-wrapper {
    height: 215px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.opendoor .modal-wrapper {
    height: 305px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

.conversation .modal-wrapper {
    height: 210px;
    width: 90%;
    display: block;
    background: transparent;
    margin: auto;
    box-shadow: none;
    position: absolute;
    bottom: 15px;
}

// ================

.loading-class {
    --background: #006600;
    --spinner-color: #ffff00;

    color: #ffff00;
}

.alert-class {
    --background: #ffff00;
}