<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons>
      <ion-menu-button class="menu" slot="start" autoHide="false" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="end" name="location" (click)="locationClick()" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <agm-map [usePanning]="true" (mapReady)="getMapInstance($event)" #agmmap [zoom]="zoom" [latitude]="latitude"
    [longitude]="longitude" [zoomControl]="false" [streetViewControl]="false">
    <agm-direction (onResponse)="onResponse($event)" (destinationDrag)="markerDragEnd($event)"
      *ngIf="directionCondition" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="origin"
      [destination]="destination">
    </agm-direction>
    <agm-marker *ngIf="!directionCondition" [animation]="currentMarkerAnimation" [iconUrl]="currentMarker"
      [latitude]="latitude" [longitude]="longitude">
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer class="ion-no-border" style="background: transparent;position: absolute;bottom: 30px;">
  <ion-card *ngIf="!directionCondition" [class]='toUp' [style.height]="heightOfCard"
    [style.background]="heightOfCard == ''? 'rgb(36, 123, 37, 0.8)':'rgb(36, 123, 37, 1)'" class="FooterCard">
    <ion-card-content>
      <p class="cardTitle">Hello {{getName()}}!</p>
      <p class="subTitle">Where do you want to go?</p>
      <br>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="10">
            <input (focus)="consoleer('focus')" (blur)="consoleer('blur')" type="text" [(ngModel)]="destination"
              class="form-control destination" (keydown.enter)="$event.preventDefault()" placeholder="Enter Destination"
              autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="getDirection()" class="search" name="search-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="bottomTitle">Search Without Destination</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="FooterCard" style="background:rgb(36, 123, 37, 0.8)" *ngIf="directionCondition">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <p class="totaltime">{{totaltime}}</p>
        </ion-col>
        <ion-col size="5">
          <p class="totaldistance">{{totaldistance}}</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="CancelClick()" class="close" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let item of carsTypes;index as i" [style.color]="item.condition?'yellow':'#006600'"
        [style.background]="item.condition?'#006600':'yellow'" style="margin-bottom: 6px;" (click)="selectCar(item,i)">
        <ion-col size="3">
          <img class="loopcar" [src]="item.image" alt="">
        </ion-col>
        <ion-col size="7">
          <p class="looptitle">{{item.title}} - {{item.seats}} Seater</p>
        </ion-col>
        <ion-col size="2">
          <p class="loopprice">€{{item.price}}</p>
        </ion-col>
      </ion-row>
      <ion-button class="order" (click)="AskPayWay()">
        Order Now
      </ion-button>
    </ion-grid>
  </ion-card>
</ion-footer>