<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openMenu()">
      <ion-menu-button class="menu" autoHide="false" color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'homePage.title' | translate:params}}</ion-title>
    <ion-icon slot="end" name="location" (click)="locationClick()" color="medium"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <agm-map [usePanning]="true" (mapReady)="getMapInstance($event)" #agmmap [zoom]="zoom" [latitude]="latitude"
    [longitude]="longitude" [zoomControl]="false" [streetViewControl]="false">
    <agm-direction (onResponse)="onResponse($event)" (destinationDrag)="markerDragEnd($event)"
      *ngIf="directionCondition" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="origin"
      [destination]="destination">
    </agm-direction>
    <agm-marker *ngIf="!directionCondition" [animation]="currentMarkerAnimation" [iconUrl]="currentMarker"
      [latitude]="latitude" [longitude]="longitude">
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer class="ion-no-border" style="background: transparent;position: absolute;bottom: 30px;">
  <ion-card *ngIf="!directionCondition" [class]='toUp' [style.height]="heightOfCard"
    [style.background]="heightOfCard == ''? 'rgb(36, 123, 37, 0.8)':'rgb(36, 123, 37, 1)'" class="FooterCard">
    <ion-card-content *ngIf="!ShowDestinationCondition">
      <p class="cardTitle">{{'homePage.hello' | translate:params}} {{getName()}}!</p>
      <p class="subTitle">{{'homePage.whereToGo' | translate:params}}?</p>
      <br>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="10">
            <input (focus)="consoleer('focus')" (blur)="consoleer('blur')" type="text" [(ngModel)]="destination"
              class="form-control destination" (keydown.enter)="$event.preventDefault()"
              placeholder="{{'homePage.enterDestination' | translate:params}}" autocorrect="off" autocapitalize="off"
              spellcheck="off" type="text" #search>
          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="getDirection()" class="search" name="search-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p *ngIf="SavedLocations.length !== 0" (click)="ShowDestinationClick()" class="bottomTitle">
        {{'homePage.searchWithoutDestination' | translate:params}}</p>
    </ion-card-content>
    <ion-card-content *ngIf="ShowDestinationCondition">
      <ul class="ul">
        <li class="li" *ngFor="let item of SavedLocations" (click)="OnRouteItemClick(item)">{{item.routeTitle}}</li>
        <li class="li" routerLink="/fav-dest">{{'homePage.addMore' | translate:params}}</li>
      </ul>
      <p (click)="HideDestinationClick()" class="bottomTitle">{{'homePage.searchWithDestination' | translate:params}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="directionCondition" class="FooterCard" style="background:rgb(36, 123, 37, 0.8)">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <p class="totaltime">{{totaltime}} &nbsp; {{totaldistance}}</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="CancelClick()" class="close" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let item of carsTypes;index as i" [style.color]="item.condition?'#006600':'#006600'"
        [style.background]="item.condition?'yellow':'yellow'" style="margin-bottom: 6px;" (click)="selectCar(item,i)">
        <ion-col size="3">
          <img class="loopcar" [src]="item.image" alt="">
        </ion-col>
        <ion-col size="9">
          <p class="looptitle"><b>{{item.title}}</b></p>
          <p class="loopdesc">{{item.desc}}</p>
        </ion-col>
        <ion-col size="12" *ngIf="item.condition == true">
          <ion-radio-group [(ngModel)]="FindDriverObj.noOfSeating">
            <ion-item no-lines lines="none" *ngFor="let inner of item.seats" color="transparent">
              <ion-label color="primary"> {{inner.numbers}} {{'homePage.seaters' | translate:params}}
                (€{{inner.price}})</ion-label>
              <ion-radio [value]="inner.numbers"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button class="order" (click)="AskPayWay()">
        {{'homePage.orderNow' | translate:params}}
      </ion-button>
    </ion-grid>
  </ion-card>
</ion-footer>