<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openMenu()">
      <ion-menu-button class="menu" autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">{{'homePage.title' | translate}}</ion-title>
    <ion-button style="margin-right: 9px;" routerLink="/reserved-bookings" slot="end" color="light">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-badge>{{noOfReservedBookings}}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button *ngIf="directionCondition" mode="ios" class="confirm_btn" (click)="confirmedAddress()" expand="block"
    color="success">
    {{'homePage.confirmation' | translate}}
  </ion-button>
  <agm-map [styles]="lightMode" [usePanning]="true" (mapReady)="getMapInstance($event)" #agmmap [zoom]="zoom"
    [latitude]="latitude" [longitude]="longitude" [zoomControl]="false" [streetViewControl]="false">
    <agm-direction (onResponse)="onResponse($event)" (destinationDrag)="markerDragEndDestination($event)"
      (originDrag)="markerDragEndOrigin($event)" *ngIf="directionCondition" [renderOptions]="renderOptions"
      [markerOptions]="markerOptions" [origin]="origin" [destination]="destination">
    </agm-direction>
    <agm-marker *ngIf="!directionCondition" [animation]="currentMarkerAnimation" [iconUrl]="currentMarker"
      [latitude]="currentLatitude" [longitude]="currentLongitude">
    </agm-marker>
  </agm-map>
  <ion-fab (click)="locationClick()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-card *ngIf="!directionCondition" [class]='toUp' [style.height]="heightOfCard"
    [style.background]="heightOfCard == ''? 'rgb(255, 255, 255, 0.9)':'rgb(255, 255, 255, 0.9)'" class="FooterCard">
    <ion-card-content *ngIf="!ShowDestinationCondition">
      <p class="cardTitle">{{'homePage.hello' | translate}} {{getName()}}!</p>
      <p class="subTitle">{{'homePage.whereToGo' | translate}}</p>
      <br>
      <ion-card (click)="openSearchModal()" mode="ios" class="cardBar">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="1.5">
              <ion-icon name="ellipse"></ion-icon>
            </ion-col>
            <ion-col size="10.5">
              <p>{{'homePage.enterDestination' | translate}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>
    <!-- <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="10">
            <input (focus)="consoleer('focus')" (blur)="consoleer('blur')" type="text" [(ngModel)]="destination"
              class="form-control destination" (keydown.enter)="$event.preventDefault()"
              placeholder="{{'homePage.enterDestination' | translate}}" autocorrect="off" autocapitalize="off"
              spellcheck="off" type="text" #search>
          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="getDirection()" class="search" name="search-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    <!-- <p *ngIf="SavedLocations.length !== 0" (click)="ShowDestinationClick()" class="bottomTitle">
        {{'homePage.searchWithoutDestination' | translate}}</p> -->
    <!-- <ion-card-content *ngIf="ShowDestinationCondition">
      <ul class="ul">
        <li class="li" *ngFor="let item of SavedLocations" (click)="OnRouteItemClick(item)">{{item.routeTitle}}</li>
        <li class="li" routerLink="/fav-dest">{{'homePage.addMore' | translate}}</li>
      </ul>
      <p (click)="HideDestinationClick()" class="bottomTitle">{{'homePage.searchWithDestination' | translate}}
      </p>
    </ion-card-content> -->
  </ion-card>
  <!-- <ion-card *ngIf="directionCondition" class="FooterCard" style="background:rgb(255, 255, 255, 0.9)">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <p class="totaltime">{{totaltime}} &nbsp; {{totaldistance}}</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="CancelClick()" class="close" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let item of carsTypes;index as i" [style.color]="item.condition?'#4ebe38':'#4ebe38'"
        [style.background]="item.condition?'white':'white'" style="margin-bottom: 6px;" (click)="selectCar(item,i)">
        <ion-col size="2.5">
          <img class="loopcar" [src]="item.image" alt="">
        </ion-col>
        <ion-col size="6">
          <p class="looptitle"><b>{{item.title}}</b></p>
          <p class="loopdesc">{{item.description}}</p>
        </ion-col>
        <ion-col size="3.5">
          <p class="approxAndMax">
            <span class="max" *ngIf="item.desc == 'Fixed Price'">max. {{item.approxOrMaxValue}}&euro;</span>
            <span *ngIf="item.desc !== 'Fixed Price'">aprox. {{item.approxOrMaxValue}}&euro;</span>
          </p>
        </ion-col>
        <ion-col size="12" *ngIf="item.condition == true">
          <ion-radio-group [(ngModel)]="FindDriverObj.noOfSeating">
            <ion-item no-lines lines="none" *ngFor="let inner of item.seats" color="transparent">
              <ion-label color="dark"> <span *ngIf="inner.numbers !== 0">{{inner.numbers}}
                  {{'homePage.seaters' | translate}}</span>
                (€{{inner.price}})</ion-label>
              <ion-radio [value]="inner.numbers"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <p *ngIf="selectedCar.approxOrMaxValue !== 0" class="loopdesc2" (click)="presentConfirmBookingPage()">
        {{'homePage.seeDetails' | translate}}</p>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button class="order" (click)="AskPayWay(false,null,null,null)">
              {{'homePage.orderNow' | translate}}
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="reserveButton" (click)="ReserveBooking()">
              {{'homePage.reserved' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-card> -->
</ion-footer>