ion-header {
  ion-toolbar {
    position: absolute;
    ion-icon {
      font-size: 30px;
      margin-right: 13px;
    }
  }
}

agm-map {
  height: 100%;
  width: 100%;
}

.address {
  ion-row {
    ion-input {
      width: 100%;
      height: 33px;
      color: white;
    }

    p {
      margin: 0;
      padding: 10px 3% 5px 3%;
    }

    ion-icon {
      font-size: 20px;
      margin-top: 5px;
    }
  }
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.menuBtn {
  background: transparent;
  color: #006600;
  --box-shadow: none;
  position: absolute;
  z-index: 111;
}

.FooterCard {
  width: 90%;
  // background: rgb(36, 123, 37, 0.8);
  margin: auto;
  display: block;
  border: 5px solid yellow;
  border-radius: 8px;

  .cardTitle {
    color: yellow;
    font-size: 27px;
    margin: 0;
    font-weight: bold;
  }

  .subTitle {
    margin: 0;
    font-size: 21px;
    color: yellow;
    margin-top: -7px;
  }

  .bottomTitle {
    margin: 0;
    font-size: 18px;
    color: yellow;
    padding-top: 37px;
  }

  .destination {
    border: 3px solid yellow;
    height: 57px;
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
    outline: none;
    color: black;
    font-size: 17px;
  }

  .destination::placeholder {
    color: black;
    font-weight: bold;
  }
}

.loopcar {
  height: 50px;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.looptitle {
  font-size: 18px;
  margin: 0;
  padding-top: 15px;
  font-weight: bold;
}

.loopprice {
  font-size: 18px;
  margin: 0;
  padding-top: 15px;
  font-weight: bold;
  padding-right: 15px;
  text-align: right;
}

.search {
  border: 3px solid yellow;
  width: 100%;
  outline: none;
  color: #006600;
  background: white;
  height: 33px;
  padding: 9px 0px;
  border-left: 0;
  outline: none;
}

.close {
  font-size: 23px;
  color: red;
  background: white;
  float: right;
  border-radius: 3px;
  outline: none;
}

.totaldistance {
  color: yellow;
  font-size: 18px;
  margin: 0;
}

.totaltime {
  color: yellow;
  font-size: 18px;
  margin: 0;
}

.order {
  margin: 0;
  width: 100%;
  --background: yellow;
  --color: #006600;
}